<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <div style="float: right; cursor: pointer; position: relative; z-index: 999;" (click)="fotoPerfil()">
                <ion-avatar id="foto" >
                  <img [src]="usuario.foto ? url + '/api' + usuario.foto : 'assets/icon/user.png'">
                </ion-avatar>
            </div>

            <ion-card-title>{{ usuario?.nombre }} {{ usuario?.apellido }}</ion-card-title>
            <ion-card-subtitle>{{ usuario?.correo }}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-item (click)="editar()" id="editar">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Editar cuenta</ion-label>
        </ion-item>

        <ion-item *ngIf="usuario.id_perfil == 2" (click)="eliminar()">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Eliminar cuenta</ion-label>
        </ion-item>

        <ion-item *ngIf="usuario.id_perfil == 1" (click)="listarUsuario()" id="lista">
            <ion-icon name="reader" slot="start"></ion-icon>
            <ion-label>Listar usuarios registrados</ion-label>
        </ion-item>

        <ion-item *ngIf="usuario.id_perfil == 1" (click)="imprimirReporte()" id="imprimir">
            <ion-icon name="print" slot="start"></ion-icon>
            <ion-label>Imprimir reporte de usuarios</ion-label>
        </ion-item>

        <ion-item (click)="salir()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
