<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Usuarios registrados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let list of usuarioLista | search:searchText:'usuario'">
            <ion-avatar slot="start">
                <ion-icon name="person-circle"></ion-icon>
            </ion-avatar>
            <ion-label>
                <div class="flex_box">
                    <h3>{{ list.nombre }} {{ list.apellido }}</h3>
                </div>
            </ion-label>
            <ion-icon (click)="remove(list)" name="trash" slot="end" class="delete"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
