<ion-header no-border style="background: #fff;">
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/icon/fondo.png">
  </div>
</ion-header>

<ion-content>
 <div class="center">
   <div heading-column-lr class="centeH1">
     <h1 big-heading>Registro</h1>
     
   </div>
   <ion-label style="margin-bottom: 20px;">
     ¿No tienes cuenta? Registrate y realiza un inicio rapido.
   </ion-label>
   <ion-item>
     <ion-icon name="person-circle"></ion-icon>
     <ion-input [(ngModel)]="email" placeholder="Ingrese correo" type="Text" > </ion-input>
   </ion-item>
   <ion-item>
     <ion-icon name="lock-closed"></ion-icon>
     <ion-input [(ngModel)]="clave" placeholder="Ingrese Contraseña" type="Password" > </ion-input>  
   </ion-item>
   <ion-item>
    <ion-icon name="lock-closed"></ion-icon>
    <ion-input [(ngModel)]="confirClave" placeholder=" Repita Contraseña" type="Password" > </ion-input>  
  </ion-item>
   <div linespace></div>
   <ion-button class="ion-button-class prueba" shape="round" fill="solid" size="large" expand="block" (click)="registro()">Registrar</ion-button>
   <ion-label class="ion-text-center"><span class="link-button" (click)="btnRuta()">volver a Login</span></ion-label>
 </div>

</ion-content>