<ion-content>
  <ion-list>
    <!-- 
    <ion-item lines="full"> 
      <ion-button slot="start" size="small" fill="clear"> prueba</ion-button>
      <ion-button slot="end" size="small" fill="clear"> prueba02</ion-button>
    </ion-item>
    -->
  
    <ion-item detail routerLink="/conversation">
      <ion-avatar slot="start">
        <ion-icon name="person-circle"></ion-icon>
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>oMAR oMAÑA</h3>
          <ion-note slot="end">12:54</ion-note>
        </div>
        <p><ion-icon class="text-icon" collor="primary" name="done-all"></ion-icon> Hablame, you todo fino up day ....</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
